
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 102%;
}

:root {
    --accent-color-main: #06d;
    --accent-color-secondary: #00c864;
    --background-color: rgba(255, 255, 255, .75);
}  

.login-page{
    width: 360px;
    padding: 7% 0 0;
    margin: auto;
}

.register-page{
    width: 420px;
    padding: 7% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: var(--background-color);
    max-width: 360px;
    margin: auto;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px
}

.form select{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--accent-color-main);
    width: 100%;
    border: 9;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-style: none;
}

.name input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 49%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px
}

.other_info input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px
}

.form button:hover, .form button:active{
    background: #1581ff;
}

.form .message{
    font-family: "Roboto", sans-serif;
    margin: 15px 0 0;
    color: black;
    font-size: 12px;
}

.form .message a{
    color: var(--accent-color-main);
    text-decoration: none
}

.header{
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    max-width: 360px;
    margin: 0 auto 10px;
    padding: 4px;
    text-align: center;
}

.header{
    position: relative;
    z-index: 1;
    background: var(--background-color);
    max-width: 420px;
    margin: 0 auto 10px;
    padding: 4px;
    text-align: center;
}

.header .title a{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    margin: 10px;
    color: black;
    font-size: 2rem;
    text-decoration: none
}

.header .title a:hover{
    color: var(--accent-color-main);
}

.form .Error{
    font-family: "Roboto", sans-serif;
    margin: 0 0 10px;
    color: #AA3939;
    font-size: 14px;
}

.form .Error{
    display: none;
}

.hero-bg {
    position: absolute;
    left:0;
    top: 0;
    object-fit: cover;
    object-position: 50% 50%;
    width:100%;
    height:100%;
    filter: brightness(75%);
}
