/*  Evilsizor, Daniel (1000408341)
    Shrestha, Muraj (1001033333)
    Bhatta, Deepesh (1001837305) 

    CSE 5335-002 -Spring 2021*/

/***********************************************************
* TABLE OF CONTENTS
*
*  1. Global Styles
*  2. Components
*  3. Header
*  4. Hero
*  5. Main Content
*  6. Footer
*
******************************************************/


/*
 * 1. Global Styles
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,*:before,*:after {box-sizing:border-box;}
 html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 102%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.3;
}
p, ul, ol, table {
  line-height: 1.7;
  margin: 0 0 1em;
}
fieldset {
  border: none;
    padding: 0;
    margin: 0;
}
textarea, input, button, select {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 102%;
}
textarea, 
input:not([type='submit']) {
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: .75rem;
  width: 50%;
}
textarea { height: 100px;}
button, 
input[type='submit'] {
  display: inline-block;
  background: var(--accent-color-main);
  border: 1px solid var(--accent-color-main);
  color: #fff !important;
  padding: 10px 16px !important;
  text-decoration: none;
  border-radius: 2px;
  margin-right: .5rem;
  cursor: pointer;
}

/* color palette */
:root {
  --accent-color-main: #06d;
  --accent-color-secondary: #00c864;
}

a, a:visited {
  color: var(--accent-color-main);
}

/*
 * 2. Components
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  /* add left-right padding for small screens */
  .container {
    padding-left: 17px;
    padding-right: 17px;
  }
}
a.button {
  display: inline-block;
  background: var(--accent-color-main);
  border: 1px solid var(--accent-color-main);
  color: #fff !important;
  padding: 10px 16px !important;
  text-decoration: none;
  border-radius: 2px;
  margin-right: .5rem;
}
a.button-alt {
  border: 1px solid var(--accent-color-main);
  color: var(--accent-color-main) !important;
  padding: 10px 16px !important;
  text-decoration: none;
  border-radius: 2px;
  margin-right: .5rem;
}
.text-center {
  text-align:center;
}
.text-right {
  text-align: right;
}
.text-bigger {
  font-size: 1.2rem;
}
.form-field {
  max-width: 700px;
  margin: 1rem 0;
}
.form-field label {
  display: inline-block;
  width: 24%;
}

.icon-feature  {
  text-align: center;
}
.icon-feature figure {
  margin: 0;
  font-size: 3rem;
  color: var(--accent-color-main);
}

.trifold > article {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .trifold {
    overflow: hidden; /* trick for clearing floats */
  }
  .trifold > article {
    float: left;
    width: 33%;
  }
}

@media only screen and (min-width: 768px) {
  .grid-50-50 {
    overflow: hidden; /* trick for clearing floats */
  }
  .grid-50-50 > * {
    float: left;
    width: 50%;
  }
}

.message-error {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.message-success {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.message-info {
  position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

/*
 * 3. Header
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main-header .container {
  display: flex;
  margin-top: .75rem;
  margin-bottom: .75rem;
}
.main-logo {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}
.main-logo a {
  text-decoration: none;
  color: #000;
  margin: 0;
  transition: color .2s;
}
.main-logo a:hover {
  color: var(--accent-color-main);
}
.main-nav {
  flex: 1 1 auto;
  text-align: right;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav li {
  display: inline-block;
  padding: 0;
}
.main-nav a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  transition: color .2s;
}
.main-nav a:hover {
  color: var(--accent-color-main);
}

/*
 * 4. Hero
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.hero {height: 50vh; min-height: 300px; position: relative;}
.hero:after {content: " "; display: block; position: absolute; top:0; left:0; z-index: 1; width:100%;height:100%; background: rgba(0,100,50,.4);}
.hero .container {position: relative; height: 100%; z-index: 2;}
.hero-bg {position: absolute; left:0; top: 0; object-fit: cover; object-position: 50% 50%; width:100%;height:100%;}
.hero-overlay {position: absolute; bottom: 10px; left: 10px; color: #fff;}
.hero h1 {font-size: 2rem; margin:0 0 .5rem;}
.hero p {font-size: 1.25rem; }

/*
 * 5. Main Content
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main-content {padding-bottom: 4em;}
.main-content section {
  clear: both;
}
section.padded {
  padding: 2rem 0;
  margin: 2rem 0;
}
section.striped {
  background: #ecf6ff;
}
.article-header {padding: 2rem 0; position:relative;}
.article-header h1 {font-size: 3rem; margin: 0; color: #00ba98; font-weight: bold;}
.article-header:before{
    position: absolute;
    display:block;
    content: '';
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    background-image: url(/_images/hero-1.jpg);
    opacity:.2;
    z-index:-1;
}


/*
 * 6. Footer
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main-footer {
  background: #dedede;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #555;
  font-size: .9rem;
}
.main-footer .footer-links { list-style: none;float:right;}
.main-footer .footer-links li {padding: .5rem 0;}
.main-footer a {color: #333;text-decoration: none;}
.main-footer a:hover {text-decoration: underline;}
