/*  Evilsizor, Daniel (1000408341)
    Shrestha, Muraj (1001033333)
    Bhatta, Deepesh (1001837305) 

    CSE 5335-002 -Spring 2021*/
    
/* Chat containers */
.container-chat {
 border: 2px solid #dedede;
 background-color: #f1f1f1;
 border-radius: 5px;
 padding: 10px;
 max-width: 1200px;
 margin: 0 auto;
}

/* Darker chat container */
.darker {
 border-color: #ccc;
 background-color: #ddd;
}

/* Clear floats */
.container-chat::after {
 content: "";
 clear: both;
 display: table;
}

/* Style images */
.container-chat img {
 float: left;
 max-width: 60px;
 width: 70%;
 margin-right: 20px;
 border-radius: 50%;
}

/* Style the right image */
.container-chat img.right {
 float: right;
 margin-left: 20px;
 margin-right:0;
}

/* Style time text */
.time-right {
 float: right;
 color: #aaa;
}

/* Style time text */
.time-left {
 float: left;
 color: #999;
}


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
 background-color: #555;
 color: white;
 padding: 16px 20px;
 border: none;
 cursor: pointer;
 opacity: 0.8;
 position: fixed;
 bottom: 1px;
 right: 10px;
 width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
 display: none;
 position: fixed;
 bottom: 0;
 right: 15px;
 border: 3px solid #f1f1f1;
 z-index: 9;
}

/* Add styles to the form container */
.form-container {
 align-self: center;
 max-width: 1200px;
 margin: 0 auto;
 background-color: white;
}

/* Full-width textarea */
.form-container textarea {
 width: 100%;
 padding: 15px;
 margin: 5px 0 22px 0;
 border: none;
 background: #f1f1f1;
 resize: none;
 min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
 background-color: #ddd;
 outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
 background-color: #4CAF50;
 color: white;
 padding: 16px 20px;
 border: none;
 cursor: pointer;
 width: 100%;
 margin-bottom:10px;
 opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
 background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
 opacity: 1;
}


.login_status {
    margin: 0 auto;
    max-width: 1200px;
    font-size: .85rem;
    color: #666;
    text-align: right
}


.article-header {padding: 2rem 0; position:relative;}
.article-header h1 {font-size: 3rem; margin: 0; color: #00ba98;}
.article-header:before{
    position: absolute;
    display:block;
    content: '';
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    background-image: url(/_images/hero-1.jpg);
    opacity:.2;
    z-index:-1;
}
